/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
  .banner-text {
    width: 100%;
    padding: 0 2%;
  }
  .row {
    padding: 0 2%;
  }
}
/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  .tagline-text {
    font-size: 110%;
    width: 80%;
    margin-left: 10%;
  }

  .steps-box {
    margin-top: 10px;
  }
  .steps-box:last-of-type {
    margin-top: 10px;
  }
  .num-app-steps {
    margin-bottom: 40px;
  }
  .num-app-steps:last-of-type {
    margin-bottom: 60px;
  }

  .app-screen {
    width: 30%;
  }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  .title-icon {
    width: 100%;
    text-align: center;
  }
  .app-store {
    width: 40%;
    height: auto;
  }
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }
  .row,
  .banner-text {
    padding: 0 4%;
  }

  h1 {
    font-size: 180%;
  }
  .title {
    font-size: 150%;
  }
  .tagline-text {
    font-size: 110%;
    width: 100%;
    margin-left: 0%;
  }

  /* .steps-box:first-child {
    text-align: center;
  } */

  .num-app-steps h3 {
    padding-right: 20%;
    /* padding-bottom: 30%; */
  }
  /*
  .num-app-steps:last-of-type {
    margin-bottom: 20px;
  } */
  /* .num-app-steps div {
    height: 40px;
    width: 41px;
    padding: 4px;
    float: left;
    margin-right: 15px;
	} */
  /* 
  .col {
    width: 100%;
  } */
}

/* Small iphones 0  - 480px */
@media only screen and (max-width: 480px) {
  .title-icon {
    text-align: center;
    width: 100%;
  }
  .col {
    width: 100%;
  }
  .app-store {
    width: 40%;
    height: auto;
  }
}
