/*  big tablets to  1200px */
@media only screen and (max-width: 1200px) {
  .banner-text {
    width: 100%;
    padding: 0 2%;
  }
  .row {
    padding: 0 2%;
  }
}
/*  small tablets to big tablets */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  .tagline-text {
    /* font-size: 100%; */
    width: 80%;
    margin-left: 10%;
  }

  .steps-box {
    margin-top: 10px;
  }
  .steps-box:last-of-type {
    margin-top: 10px;
  }
  .num-app-steps {
    margin-bottom: 40px;
  }
  .num-app-steps:last-of-type {
    margin-bottom: 60px;
  }

  .app-screen {
    width: 50%;
  }
}

/* Small phones to small tablets */
@media only screen and (max-width: 767px) {
  .title-icon {
    width: 100%;
  }
  .app-store {
    width: 50%;
    height: auto;
  }
}

/* Small iphones 0  - 480px */
@media only screen and (max-width: 480px) {
  .title-icon {
    text-align: center;
    width: 100%;
  }
  .app-store {
    width: 50%;
    height: auto;
  }
}
