/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
  .banner-text {
    width: 100%;
    padding: 0 2%;
  }
  .row {
    padding: 0 2%;
  }
}
/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  .tagline-text {
    font-size: 110%;
    width: 80%;
    margin-left: 10%;
  }

  .steps-box {
    margin-top: 10px;
  }
  .steps-box:last-of-type {
    margin-top: 10px;
  }
  .num-app-steps {
    margin-bottom: 40px;
  }
  .num-app-steps:last-of-type {
    margin-bottom: 60px;
  }

  .app-screen {
    width: 30%;
  }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  .title-icon {
    width: 100%;
    text-align: center;
  }

  .main-nav {
    display: none;
  }
  .mobile-nav-icon {
    display: inline-block;
    position: relative;
    z-index: 9999;
  }

  .main-nav {
    float: none;
    position: absolute;
    z-index: 8888;
    width: 100%;
    height: 100vh;
    margin: 0;
    margin-left: -2%;
    background-color: rgba(230, 126, 34, 0.92);
    text-align: center;
    padding-top: 5vh;
  }

  .main-nav li {
    display: block;
    margin-left: 0;
    font-size: 110%;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%;
  }

  .sticky .main-nav {
    margin-top: 0;
  }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: 10px 0;
    color: #fff;
  }

  .sticky .mobile-nav-icon {
    margin-top: 10px;
  }
  .sticky .mobile-nav-icon ion-icon {
    color: #555;
  }
  .sticky .mobile-nav-icon i.ion-close-round {
    color: #fff;
  }

  .app-store {
    width: 25%;
    height: auto;
  }
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }
  .row,
  .banner-text {
    padding: 0 4%;
  }

  h1 {
    font-size: 250%;
  }
  .title {
    font-size: 150%;
  }
  .tagline-text {
    font-size: 110%;
    width: 100%;
    margin-left: 0%;
  }

  .steps-box:first-child {
    text-align: center;
  }

  .num-app-steps h3 {
    padding-right: 20%;
    /* padding-bottom: 30%; */
  }

  .num-app-steps:last-of-type {
    margin-bottom: 20px;
  }
  .num-app-steps div {
    height: 40px;
    width: 41px;
    padding: 4px;
    float: left;
    margin-right: 15px;
  }

  .col {
    width: 100%;
  }
  .social-nav,
  .footer-nav {
    text-align: center;
    /* float: left; */
  }
}

/* Small iphones 0  - 480px */
@media only screen and (max-width: 480px) {
  .title-icon {
    text-align: center;
    width: 100%;
  }
  .col {
    width: 100%;
  }
  .app-store {
    width: 30%;
    height: auto;
  }
  .social-nav,
  .footer-nav {
    text-align: center;
    /* float: left; */
  }
}
