/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

body {
	background-color: burlywood;
	font-size: 18px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1,
h2 {
	color: aquamarine;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 40px;
	margin-bottom: 20px;
}

h2 {
	font-size: 25px;
	margin-bottom: 10px;
}

p {
	text-align: justify;
}

.main-text {
	text-align: justify;
	margin-bottom: 20px;
}

.author-text {
	font-size: 22px;
	float: left;
	margin: 40px 0 0 10px;
}

.container {
	width: 1148px;
	margin: 20px auto 0 auto;
}

.blog-post,
.author-box {
	padding-right: 30px;
}

.blog-post {
	width: 75%;
	float: left;
	position: relative;
}

.test {
	position: relative;
}

.other-posts {
	width: 25%;
	float: left;
}

.author-box {
	border-top: 1px solid grey;
	padding-top: 20px;
}

.other {
	margin-bottom: 20px;
}

.author-box img {
	height: 100px;
	width: 200px;
	border-radius: 50%;
	float: left;
}

.date {
	position: absolute;
	top: 0;
	right: 0;
}
